@import './utils/common';
@import './utils/reset';
@import './utils/vars';
@import './utils/visually-hidden';

@import './components/headers';
@import './components/movie-list';
@import './components/spinner';

@import './components/modal';
@import './components/pagination';

