@import './utils/common';
@import './utils/reset';
@import './utils/vars';
@import './utils/visually-hidden';

@import './components/kids';
@import './components/kids-games';
@import './components/movie-list';
@import './components/spinner';

@import './components/pagination';
@import './components/modal';
@import './components/footer';
@import './components/developers-modal';
@import './components/to-top-button';
@import './components/fonts';
