@import './utils/common';
@import './utils/reset';
@import './utils/vars';
@import './utils/visually-hidden';

@import './components/headers';
@import './components/movie-list';
@import './components/pagination';
@import './components/modal';
@import './components/footer';
@import './components/developers-modal';
@import './components/to-top-button';
@import './components/darkmode';
@import './components/fonts';
