:root {
  --main-white: #fff;
  --main-black: #000;
  --subtitle-color: #ffa5ba; // subtitle-color можете юзати для забарвлення підзаголовків або виділень;
  --mobile-bg-col: #e18298;
  --mobile-menu-color: #e17992;
  --titles-color: #d41443; // titles-color можете юзати для забарвлення тайтлів або виділень;
  --border-line-color: #e1e1e1;
  --about-bg-color: #fff5f6;
  --contacts-bg-color: #fff5f6;
  --reviews-bg-color: #fafafa;
  --pagination-dot: #d9d9d9;
  // //////////////////////////////////////////////////
  --backdrop-bcg-color: rgba(255, 255, 255, 0.95);
  --modal-bcg-color: rgb(255, 255, 255);
}
