<div class="backdrop is-hidden">
  <div class="modal">
    <img class="modal__img" src="#" alt="#" />
    <div class="modal__info-wrap">
      <h2 class="modal__title"></h2>
      <div class="modal__inner">
        <div class="modal__info-list modal__info-list--keys">
          <h3 class="modal__sub-title-info">Vote / Votes</h3>
          <h3 class="modal__sub-title-info">Popularity</h3>
          <h3 class="modal__sub-title-info">Original Title</h3>
          <h3 class="modal__sub-title-genres">Genre</h3>
        </div>
        <div class="modal__info-list modal__info-list--data"></div>
      </div>
      <h3 class="modal__sub-title-description">About</h3>
      <p class="modal__film-description"></p>
      <div class="modal__button-wrap">
        <button class="modal__button js-watched">Remove to watched</button>
        <button class="modal__button js-queue">Add to queue</button>
        <button class="modal__button">Trailer</button>
      </div>
    </div>
    <svg class="modal__close-icone" aria-hidden="true">
      <use
        class="modal__close-icone-inner"
        href="./images/sprite.svg#icon-close"
        width="12px"
        height="12px"
      ></use>
    </svg>
  </div>
</div>
