<div class="backdrop is-hidden">
  <div class="modal">
    <img class="modal__img" src="#" alt="#" />
    <h2 class="modal__title"></h2>

    <ul class="modal__info-list modal__info-list--keys">
      <li class="modal__sub-title-info">Vote / Votes</li>
      <li class="modal__sub-title-info">Popularity</li>
      <li class="modal__sub-title-info">Original Title</li>
      <li class="modal__sub-title-info">Genre</li>
    </ul>

    <ul class="modal__info-list">
      <li class="modal__text-info" data-vote></li>
      <li class="modal__text-info" data-popularity></li>
      <li class="modal__text-info" data-title></li>
      <li class="modal__text-info" data-genre></li>
    </ul>

    <h3 class="modal__sub-title"></h3>
    <p class="modal__text"></p>

    <div class="modal__button-wrap">
      <button class="modal__button">Remove to watched</button>
      <button class="modal__button">Add to queue</button>
      <button class="modal__button">Trailer</button>
    </div>
  </div>
</div>
