<div class="backdrop is-hidden">
  <div class="modal">
    <img class="modal__img" src="#" alt="#" />
    <h2 class="modal__title"></h2>
    <div class="modal-inner">
      <div class="modal__info-list modal__info-list--keys">
        <h3 class="modal__sub-title-info">Vote / Votes</h3>
        <h3 class="modal__sub-title-info">Popularity</h3>
        <h3 class="modal__sub-title-info">Original Title</h3>
      </div>

      <div class="modal__info-list modal__info-list--data"></div>
    </div>
    <h3 class="modal__sub-title-genres">Genre</h3>
    <p class="modal__info-genres"></p>

    <h3 class="modal__sub-title"></h3>
    <p class="modal__text"></p>

    <div class="modal__button-wrap">
      <button class="modal__button">Remove to watched</button>
      <button class="modal__button">Add to queue</button>
      <button class="modal__button">Trailer</button>
    </div>
  </div>
</div>
