<div class="dev-backdrop is-hidden" id="backdrop">
    <div class="dev-modal" id="modal">
        <div class="dev-modal__container container">
            <button class="dev-modal__button" id="close-modal">
                <svg width="14px" height="14px">
                    <use href="./images/sprite.svg#icon-close"></use>
                </svg>
            </button>
            <h2 class="dev-modal__team-name">Developers team</h2>
            <ul class="dev-modal__list"></ul>
        </div>
    </div>
</div>

