<footer class="footer">
  <div class="container footer__container">
    <div class="footer__inner">
      <p class="footer__text footer__text--begin">© 2022 | All Rights Reserved | </p>
      <p class="footer__text footer__text--end">Developed with
        <svg class="footer__svg" width="14px" height="14px">
          <use href="./images/sprite.svg#icon-footer-heart"></use>
        </svg> by
        <span class="footer__link" id="open-modal">GoIT Students</span>
      </p>
    </div>
  </div>
  <div class="footer__wrapper">
    <div class="footer__wrapper-container">
      <p class="footer__info">TMDB logo to identify your use of the TMDB APIs.</p>
      <p class="footer__info">"This product uses the TMDB API but is not endorsed or certified by TMDB."</p>
      <p class="footer__info">Not for commercial use</p>
    </div>

  </div>
</footer>