<!-- <div class="form-wrapper"> -->
<div class="backdropForm">
  <form class="form-signin">
    <button class="form__close-icone" type="button" aria-label="Close window">
        <svg class="icon icon-vector">
          <use class="form__close-icone-inner" href="./images/sprite.svg#icon-close" width="14px" height="14px"></use>
        </svg>
  </button>
    <h2 class="form-signin-heading">Authorization</h2>
    <input
      type="mail"
      class="form-control-mail"
      name="username"
      placeholder="Email Address"
      required=""
      autofocus=""
    />
    <input
      type="password"
      class="form-control-password"
      name="password"
      placeholder="Password"
      required=""
    />
    <div class="errorMessage"></div>
    <button class="btn-block login" type="submit">Log in</button>
    <button class="btn-block sign" type="submit">Sign up</button>
  </form>
</div>
<button class="btn-block out" type="button">Log out</button>
<button class="btn-block autorization" type="button">Authorization</button>
<!-- </div> -->
