<div class="container">
  <header class="pagehome-header">
    <div class="navigation-wrapper">
      <a href="./index.html" class="logo">
        <img class="logo-img" src="#" alt="logo" width="24" height="24" />
        <span class="logo-text">Filmoteka</span>
      </a>

      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a href="./index.html" class="navigation__link current">home</a>
          </li>
          <li class="navigation__item">
            <a href="./library.html" class="navigation__link">my library</a>
          </li>
          <li class="navigation__item">
            <a href="./kids.html" class="navigation__link">kids</a>
          </li>
        </ul>
      </nav>
    </div>

    <form class="search">
      <input
        type="text"
        class="search__input"
        name="searchQuery"
        autocomplete="off"
        placeholder="Пошук фільмів"
      />
      <button type="submit" class="search__button">
        <img
          class="search__button-icon"
          src="#"
          alt="search"
          width="20"
          height="20"
        />
      </button>
    </form>
  </header>
</div>
