<header class="kids-header">
  <div class="container">
    <div class="navigation-wrapper">
      <a href="./index.html" class="logo">
        <svg class="logo-img">
          <use
            href="./images/sprite.svg#icon-film"
            width="24px"
            height="24px"
          ></use>
        </svg>
        <p class="logo-text">
          Filmoteka<span class="logo-text__accent">Kids</span>
        </p>
      </a>

      <nav class="navigation">
        <ul class="navigation__list">
          <!-- <li class="navigation__item">
            <a href="./index.html" class="navigation__link">home</a>
          </li> -->
          <!-- <li class="navigation__item">
            <a href="./library.html" class="navigation__link">my library</a>
          </li> -->
          <li class="navigation__item">
            <a href="./kids.html" class="navigation__link current">kids</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- <form class="kids-search">
      <input
        type="text"
        class="kids-search__input"
        name="searchQuery"
        autocomplete="off"
        placeholder="Movie search"
      />
      <button type="submit" class="kids-search__button">
        <svg class="kids-search__button-icon">
          <use
            href="./images/sprite.svg#icon-search"
            width="12px"
            height="12px"
          ></use>
        </svg>
      </button>
    </form>
    <p class="error">
      Search result not successful. Enter the correct movie name
    </p> -->
  </div>
</header>
