<header class="library-header">
  <div class="container">
    <div class="navigation-wrapper">
      <a href="./index.html" class="logo">
        <svg class="logo-img">
          <use
            href="./images/sprite.svg#icon-film"
            width="24px"
            height="24px"
          ></use>
        </svg>
        <span class="logo-text">Filmoteka</span>
      </a>

      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a href="./index.html" class="navigation__link">home</a>
          </li>
          <li class="navigation__item">
            <a href="./library.html" class="navigation__link current"
              >my library</a
            >
          </li>
          <li class="navigation__item">
            <a href="./kids.html" class="navigation__link">kids</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="library-buttons">
      <button class="library-button watched-button active-button">
        Watched
      </button>
      <button class="library-button queue-button">Queue</button>
    </div>
    <div>
      <input type="checkbox" class="checkbox" id="checkbox" />
      <label for="checkbox" class="checkbox-label">
        <i class="fas fa-moon"></i>
        <i class="fas fa-sun"></i>
        <span class="ball"></span>
      </label>
    </div>
  </div>
</header>
