.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.95);
  opacity: 1;
  transition: opacity 100ms;
  overflow: overlay;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 320px;
  width: 90%;
  border-radius: 20px;
  box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.42);
  background-color: var(--modal-bcg-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 100ms;
}
