.dev-backdrop {
  overflow: overlay;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgb(0 0 0 / 30%);
  position: fixed;
  top: 0%;
  left: 0%;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.dev-modal {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0 8px 30px rgba(212, 20, 67, 0.1);

  &__button {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
    border: none;
    background-color: white;
  }

  &__team-name {
    padding-top: 25px;
    text-align: center;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
  }

  &__wrapper {
    margin-top: 20px;
  }

  &__card {
    width: 300px;
    margin-bottom: 30px;
    border: rgba(0, 0, 0, 0);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    background-color: var(--accent-color);
    border-radius: 3px;
  }

  &__picture {
    width: 300px;
  }

  &__name {
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    color: rgba(255, 107, 1, 1);
    text-align: center;
  }

  &__position {
    font-size: 14px;
    line-height: 23px;
    text-align: center;
  }
}

.dev-social-network {
  display: flex;
  justify-content: center;
  width: 14px;
  height: 14px;

  // &__item {
  // }

  // &__link {
  // }

  // &__icon {
  // }
}
