.dev-backdrop {
  overflow: overlay;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgb(0 0 0 / 30%);
  position: fixed;
  top: 0%;
  left: 0%;
  transition: opacity 250ms;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.dev-modal {
  background-color: white;
  position: absolute;
  top: 192%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0 0 30px 4px #0000006b;

  @media screen and (min-width: 768px) {
    top: 100%;
  }

  @media screen and (min-width: 1024px) {
    top: 50%;
  }

  &__container {
    width: 280px;

    @media screen and (min-width: 768px) {
      width: 550px;
    }

    @media screen and (min-width: 1024px) {
      width: 924px;
    }
  }

  &__button {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
    border: none;
    background-color: white;
    transition: scale 0.25s linear;

    &:hover,
    &:focus {
      scale: 1.5;
    }
  }

  &__team-name {
    padding-top: 34px;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      padding-top: 25px;
      font-size: 24px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    padding-bottom: 30px;
  }

  &__wrapper {
    margin-top: 20px;
  }

  &__card {
    width: 200px;
    margin-bottom: 30px;
    border: rgba(0, 0, 0, 0);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    background-color: var(--accent-color);
    border-radius: 3px;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: 768px) {
      margin-right: 20px;

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }
    }

    @media screen and (min-width: 1024px) {
      margin-right: 20px;

      &:nth-child(2n) {
        margin-right: 20px;
      }

      &:nth-child(4n + 4) {
        margin-right: 0;
      }

      &:nth-last-child(-n + 4) {
        margin-bottom: 0;
      }
    }
  }

  &__picture {
    width: 200px;
  }

  &__name {
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
    color: rgba(255, 107, 1, 1);
    margin-top: 5px;
    text-align: center;
  }

  &__position {
    color: #545454;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
  }
}

.dev-social-network {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 10px;

  &__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    background-color: rgb(255 107 1 / 77%);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: rgba(255, 107, 1, 1);
    }
  }

  &__icon {
    fill: white;
    width: 20px;
    height: 20px;
  }
}