.footer {
  background-color: var(--footer-background);
  
  &__box{
    @media screen and (min-width: 767px) {
    position: relative;
  }
  }

  &__container {
    padding-top: 29px;

    @media screen and (min-width: 767px) {
      padding-bottom: 29px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 767px) {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__text {
    color: var(--footer-text);
    font-size: 14px;
    line-height: 1.1;
    text-align: center;

    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.2;
    }

    &--begin {
      margin-top: 0;
      margin-bottom: 10px;

      @media screen and (min-width: 767px) {
        padding-top: 0;
        margin-bottom: 0;
        margin-right: 4px;
      }
    }

    &--end {
      margin-top: 0;
      margin-bottom: 0;

      @media screen and (min-width: 767px) {
        padding-bottom: 0;
      }
    }
  }

  &__svg {
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    animation: myAnim 1s ease 0s infinite normal forwards;
  }

  @keyframes myAnim {
    0% {
      transform: scale(0.5);
    }

    50% {
      transform: scale(1);
    }

    100% {
      transform: scale(0.5);
    }
  }

  &__link {
    cursor: pointer;
    text-decoration: underline;
    color: var(--footer-text);
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
      color: var(--active-btn-color);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    @media screen and (min-width: 768px) {
      position: absolute;
      top: 0;
      left: 0;
      width: 140px;
      text-align: start;
      align-items: flex-start;
      padding-right: 0;
      margin-top: 0;
      padding-top: 10px;
    }

        @media screen and (min-width: 1280px){
            left: 32px;
        }
  }

  &__info {
    font-size: 7px;
    color: var(--footer-api-text);
    margin-right: 4px;
  }
}
