.footer {
  background-color: var(--footer-background);

  &__container {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  &__inner {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 767px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  &__text {
    color: var(--footer-text);
    font-size: 14px;
    line-height: 1.1;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    text-align: center;

    @media screen and (min-width: 767px) {
      font-size: 16px;
      line-height: 1.2;
    }

    &--begin {
      margin-top: 0;
      margin-bottom: 10px;

      @media screen and (min-width: 767px) {
        padding-top: 0;
        margin-bottom: 0;
        margin-right: 4px;
      }
    }

    &--end {
      margin-top: 0;
      margin-bottom: 0;

      @media screen and (min-width: 767px) {
        padding-bottom: 0;
      }
    }
  }

  &__svg {
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
  }

  &__link {
    cursor: pointer;
    text-decoration: underline;
    color: var(--footer-text);
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
      color: var(--active-btn-color);
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;

    @media screen and (min-width: 768px){
        text-align: start;
    }

    &::before {
      position: absolute;
      content: '';
      display: inline-block;
      height: 1px;
      width: 100%;
      background-color: var(--footer-text);
    }

    &-container {
      padding: 10px;
    }
  }

  &__info {
    font-size: 9px;
    color: var(--footer-api-text);
    margin-right: 4px;
  }
}
