.footer {
  background-color: #f7f7f7;

  &__container {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  &__inner {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 767px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  &__text {
    color: #545454;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    text-align: center;

    @media screen and (min-width: 767px) {
      font-size: 16px;
      line-height: 19px;
    }

    &--begin {
      margin-top: 0;
      margin-bottom: 10px;
      // padding-top: 29px;

      @media screen and (min-width: 767px) {
        padding-top: 0;
        margin-bottom: 0;
        margin-right: 4px;
      }
    }

    &--end {
      margin-top: 0;
      margin-bottom: 0;
      // padding-bottom: 29px;

      @media screen and (min-width: 767px) {
        padding-bottom: 0;
      }
    }
  }

  &__svg {
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
  }

  &__link {
    cursor: pointer;
    text-decoration: underline;
    color: #545454;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: #ff6b01;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;

    &::before {
      position: absolute;
      content: '';
      display: inline-block;
      height: 1px;
      width: 100%;
      background-color: rgb(0 0 0 / 46%);
    }

    &-container {
      padding: 10px;
    }

    @media screen and (min-width: 768px) {
      text-align: start;
      flex-direction: row;
    }
  }

  &__info {
    font-family: 'Roboto';
    font-size: 10px;
    color: rgb(0 0 0 / 46%);
  }
}

.footer__svg {
  animation: myAnim 1s ease 0s infinite normal forwards;
}

@keyframes myAnim {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
