.pagehome-header {
  display: block;
  margin: 0 auto;
  min-height: 216px;
  @media screen and (max-width: 767px) {
    min-height: 230px;
  }
  width: 100%;
  padding-top: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right,
      var(--btn-color),
      var(--btn-color)
    ),
    url('../images/home-320/home-320-1@.jpg');

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        var(--btn-color),
        var(--btn-color)
      ),
      url('../images/home-320/home-320-2@.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        var(--btn-color),
        var(--btn-color)
      ),
      url('../images/home-768/home-768-1@.jpg');
    @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          var(--btn-color),
          var(--btn-color)
        ),
        url('../images/home-768/home-768-2@.jpg');
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(
        to right,
        var(--btn-color),
        var(--btn-color)
      ),
      url('../images/home-1200/home-1200-1@.jpg');
    @media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          var(--btn-color),
          var(--btn-color)
        ),
        url('../images/home-1200/home-1200-2@.jpg');
    }
  }
}

.library-header {
  display: block;
  margin: 0 auto;
  min-height: 216px;
  @media screen and (max-width: 767px) {
    min-height: 230px;
  }
  width: 100%;
  padding-top: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-image: linear-gradient(
      to right,
      var(--btn-color),
      var(--btn-color)
    ),
    url('../images/library-320/library-320-1@.jpg');

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        var(--btn-color),
        var(--btn-color)
      ),
      url('../images/library-320/library-320-2@.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        var(--btn-color),
        var(--btn-color)
      ),
      url('../images/library-768/library-768-1@.jpg');
    @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          var(--btn-color),
          var(--btn-color)
        ),
        url('../images/library-768/library-768-2@.jpg');
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(
        to right,
        var(--btn-color),
        var(--btn-color)
      ),
      url('../images/library-1200/library-1200-1@.jpg');
    @media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          var(--btn-color),
          var(--btn-color)
        ),
        url('../images/library-1200/library-1200-2@.jpg');
    }
  }
}

.navigation-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;

  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }
}

.navigation-wrapper__library {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;

  @media screen and (max-width: 767px) {
    margin-bottom: 56px;
  }
}

.logo {
  display: flex;
  align-items: baseline;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.logo-img {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.logo-text {
  font-size: 30px;
  line-height: 1.17;
  font-weight: 500;
  color: var(--main-white);

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.navigation {
  display: block;
}

.navigation__list {
  display: flex;
}

.navigation__item {
  position: relative;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    transform: scale(1.2);
  }
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.navigation__link {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  color: var(--main-white);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--bad-request-color);
  }
}

.navigation__link.current:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 3px;
  width: 100%;
  background-color: var(--bad-request-color);
}

.search {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  margin: 0 auto;
  font: inherit;

  width: 394px;
  @media screen and (max-width: 1279px) {
    width: 336px;
  }
  @media screen and (max-width: 767px) {
    width: 280px;
  }
}

.search__input {
  width: 100%;
  height: 20px;
  font-size: 14px;
  line-height: 1.14;
  padding: 4px 0;
  border: none;
  outline: none;
  color: var(--main-white);
  background-color: transparent;
  border-bottom: 0.5px solid var(--main-white);

  &::placeholder {
    color: inherit;
  }
}

.search__button {
  cursor: pointer;
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}

.search__button-icon {
  width: 12px;
  height: 12px;
  fill: var(--main-white);
}

.error {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 393px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  color: var(--bad-request-color);
  opacity: 0;
  @media screen and (max-width: 767px) {
    margin-top: 16px;
    width: 280px;
  }
}

.show-error {
  opacity: 1;
}

.library-buttons {
  display: flex;
  justify-content: center;
}

.library-button {
  margin-right: 16px;

  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 20px;
  }
}

.search__input:focus.search__input::placeholder {
  color: var(--modal-subTitle-color);
}

.library-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  border-radius: 5px;
  width: 129.5px;
  height: 44px;
  padding: 0;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 144px;
  }

  @media screen and (min-width: 1280px) {
    width: 147px;
    height: 42px;
  }
}

.library-button:hover {
  transform: scale(1.1);
}

.active-button {
  background-color: var(--active-btn-color);
  box-shadow: (0px 8px 43px rgba(255, 107, 1, 0.6));
  border: none;
}

.search-list {
  color: var(--main-white);
  font-size: 11px;
  display: block;
  margin: 0 auto;
  max-width: 280px;
  margin-top: 4px;
}

.search-list-item {
  cursor: pointer;
  &:hover,
  &:focus {
      color: var(--bad-request-color);
    }
}

.release-date {
  color: var(--subtitle-color);
}