.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.95);
  opacity: 1;
  transition: opacity 100ms;
  overflow: overlay;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.42); // ?????????????
  background-color: var(--modal-bcg-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 100ms;
  width: 280px;

  @media screen and (min-width: 768px) {
    width: 704px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
    width: 806px;
  }
}

.modal__close-icone {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.modal__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__img {
  width: 240px;

  @media screen and (min-width: 768px) {
    width: 264px;
  }
  @media screen and (min-width: 1200px) {
    width: 375px;
  }
}

.modal__title {
  color: var(--main-black);

  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
  }
}

.modal__film-description {
  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
  }
}
