// width of screen
$mobile: 480px;
$tablet: 768px;
$desctop: 1024px;
// size of img
$imgwidth: 280px;
// color


main {
    display: flex;
    justify-content: center;
}
    .movie-card__container{
        display: grid;   
        grid-template-rows: auto;
    }
    .movie-card {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .movie-card .movie-card_img {
        margin-bottom: 10px;
        border-radius: 5px;
    }
    .movie-card_title{
        font-family: Roboto;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: 0em;
        text-align: left;
        text-transform: uppercase;
        color: var(--main-black);
    }
    .movie-card_genre-list{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .movie-card_genre-item {
        font-family: Roboto;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: 0em;
        text-align: left;
        color: var(--genre-color);
    }

@media screen and (max-width: $tablet) {
    .movie-card__container{
        max-width: 280px;
        grid-template-columns: 1fr;
        padding: 20px 0;
    }
    .movie-card {
        flex-direction: column;
        gap: 20px;
    }
    .movie-card .movie-card_img {
        max-width: $imgwidth;
        height: calc($imgwidth * 1.436);
        margin-bottom: 10px;
    }
}

@media screen and (min-width: $tablet) and (max-width: $desctop){
    .movie-card__container{
        max-width: 616px;
        grid-template-columns: 1fr 1fr;
        padding: 60px 0;
        gap: 30px;
    }
    .movie-card {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .movie-card .movie-card_img {
        max-width: calc($imgwidth * 1.05);
        height: calc($imgwidth * 1.421);
    }
}
@media screen and (min-width: $desctop) {
    .movie-card__container{
        max-width: 882px;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 60px 0;
        gap: 30px;
    }
    .movie-card {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .movie-card .movie-card_img {
        max-width: calc($imgwidth * 0.979);
        height: calc($imgwidth * 1.421);
    }
}