// width of screen
$mobile: 480px;
$tablet: 768px;
$desctop: 1024px;
// size of img
$imgwidth: 280px;
// color

main {
  display: flex;
  justify-content: center;
}
.movie-card__container {
  display: grid;
  grid-template-rows: auto;
}
.movie-list {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.movie-list .movie-card_img {
  margin-bottom: 10px;
  border-radius: 5px;
}
.movie-card_title {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: var(--main-black);
}
.movie-card__genre-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.movie-card__genre-item,
.movie-card__relize-info {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0em;
  text-align: left;
  color: var(--genre-color);
}

.movie-card_vote_average {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: var(--main-white);
  background: var(--genre-color);
  text-align: center;
  border-radius: 5px;
}
@media screen and (max-width: $tablet) {
  .movie-card__container {
    max-width: 280px;
    grid-template-columns: 1fr;
    padding: 20px 0;
  }
  .movie-list {
    flex-direction: column;
    gap: 20px;
  }
  .movie-list .movie-card__img {
    max-width: $imgwidth;
    height: calc($imgwidth * 1.436);
    margin-bottom: 10px;
  }
}

@media screen and (min-width: $tablet) and (max-width: $desctop) {
  .movie-card__container {
    max-width: 616px;
    grid-template-columns: 1fr 1fr;
    padding: 60px 0;
    gap: 30px;
  }
  .movie-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .movie-list .movie-card__img {
    max-width: calc($imgwidth * 1.05);
    height: calc($imgwidth * 1.421);
  }
}
@media screen and (min-width: $desctop) {
  .movie-card__container {
    max-width: 882px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 60px 0;
    gap: 30px;
  }
  .movie-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .movie-list .movie-card__img {
    max-width: calc($imgwidth * 0.979);
    height: calc($imgwidth * 1.421);
  }
}
