.btn-up {
  position: fixed;
  background-color: #f57c00;
  right: 20px;
  bottom: 9px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;

  transition: opacity 0.25s linear, transform 0.3s linear;
  opacity: 0.6;
  transform: translateY(0);

  &:hover {
    background-color: #ff8000;
    opacity: 1;
  }

  &_hiding {
    opacity: 0;
    transform: translateY(100px);
  }

  &_hide {
    display: none;
  }

  &::before {
    content: '';
    width: 40px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
  }

  @media screen and (max-width: 767px) {
    & {
      width: 40px;
      height: 40px;
    }
  }
}
